@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*CSS Reset*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
/*Navegacion*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    height: 100px;
    max-width: 1550px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 60px;
    margin: 20px;
    padding-left: 15px;
}
.bar-btn {
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.mi-logo {
    display: flex;
    background: rgb(60, 215, 60);
    width: 1350px;
}
.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(60, 60, 60, 0.95);
    text-align: center;
    transition: all 0.5s;
}
.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}
.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active,
.nav-menu li a:hover {
    color: #9900ff;
    transition: 0.3s;
}
#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;
}
#check:checked ~ .nav-menu li {
    display: block;
}
.banner-text {
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}
.banner-text .fuente {
    text-align: center;
    color: #000;
    padding: 30px;
}
.banner-text .font-1 {
    margin-top: 9em;
    margin-bottom: 9em;
}
@media (min-width:768px) {
    .logo {
        margin-left: 0;
    }
    nav {
        height: 100px;
        margin: 0;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 18px;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .banner-text {
        padding-top:40px;
    }
    .banner-text .fuente {
        padding: 22px 200px;
    }
    .banner-text .font-1 {
        padding: 22px 200px;
    }
}